*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:'header header header'
                        'main   main   aside'
                        'footer footer footer';
}
header{
    text-align: center;
    background: rgb(71, 231, 218);
    grid-area: header;
    border-bottom: 15px solid rgb(4, 73, 73);
    
}
header h1{
    font-size: 50px;
}
.referencias{
    display: flex;
    justify-content: flex-end;
}
header a {
    padding: 5px;
    text-decoration: none;
}

main{
    
    grid-area: main;
    /* border: 1px solid blue; */
    text-align: center;
    background-image: url('galaxia1.jpg');
    background-size: cover;
    
}
.tituloh2{

    width: fit-content;
    height: fit-content;
    background: violet;
    margin: 10px auto;
    border-radius: 0 20px 0 20px;
    padding: 15px;
}
.desayunos-meriendas{
    width: fit-content;
    height: fit-content;
    border: 2px dashed rgb(126, 9, 126);
    margin: auto;
    margin-bottom: 15px;
}
.almuerzos-cenas{
    width: fit-content;
    height: fit-content;
    border: 2px dashed rgb(126, 9, 126);
    margin: auto;
    margin-bottom: 15px;
}
.targeta-combo{
    display: inline-block;
    padding: 15px;
    margin: 10px;
    width: 220px;
    min-height: 400px;
    height: fit-content;
    border: 1px solid aqua;
    cursor: pointer;
    background: rgb(201, 191, 191);
}
.targeta-combo:hover{
    width: 350px;
    /* height: 450px; */
    height: fit-content;
    font-size: 30px;
    border-radius: 30px;
}
.img-combo{
    margin: 10px auto;
    width: 200px;
    height: 200px;
}
.img-combo:hover{
    width: 300px;
}
.lista-hotcake{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid red; */
    margin: 0 auto;
}
aside{
    grid-area: aside;
    /* border: 1px solid black; */
    /* position: relative; */
    background: rgb(71, 234, 255);

}
.formulario{
    width: 250px;
    height: fit-content;
    padding: 10px;
    /* border: 3px solid rgb(126, 9, 126); */
    display: inline-block;
    margin: 0 auto;
}
.formulario h1{
    text-align: center;
    padding: 10px;
}
input{
    width: 230px;
    height: 25px;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 10px;
    outline: none;
    background: rgb(218, 161, 218);
    border: none;
    
}
.btn-reg{
    margin: 0 30%;
    width: 100px;
    height: 30px;
    color: turquoise;
    font-size: 20px;
    background: rgb(116, 13, 61);
}
.listado-menu{
    margin: 10%;
    /* border: 1px solid rebeccapurple; */
}
.listado-menu h1{
    border-bottom: 2px solid rgb(126, 9, 126);
}

footer{
    grid-area: footer;
    border-top: 15px solid rgb(4, 73, 73);
    background: rgb(32, 30, 30);
}
footer h1{
    text-align: center;
    color: rgb(4, 73, 73);
}
.referencias-footer{
    /* display: flex;
    justify-content: flex-end; */
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
footer a {
    color: white;
    padding: 5px;
    text-decoration: none;
    padding: 0 10px;
    /* margin-bottom: 20px; */
    
}
.mercado{
    color: rgb(36, 16, 124);
}
.transferencia{
    color: rgb(7, 90, 32);
}
.uala{
    color: rgb(145, 38, 145);
}

@media screen and (max-width:670px){
    .container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:'header'
                            'main'
                            'aside'
                            'footer';
    }
    .referencias{
        display: flex;
        justify-content:center;
    }
    .referencias{
        text-align: center;
        margin: auto;
    }
    .formulario{
        margin: 0 70px;
    }
}
